<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="card border-light mb-3 shadow" style="max-width: 18rem;">
        <div class="card-header">Coût total d'acquisition</div>
        <div class="card-body">
          <h3 class="card-title"><%= @real_estate.format_total_acquisition %></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card border-light mb-3 shadow" style="max-width: 18rem;">
        <div class="card-header">Revenus annuels</div>
        <div class="card-body">
          <h3 class="card-title"><%= @real_estate.format_total_rent_revenues %></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card border-light mb-3 shadow" style="max-width: 18rem;">
        <div class="card-header">Rendement net</div>
        <div class="card-body">
          <h3 class="card-title"><%= @real_estate.format_net_yield %></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card border-light mb-3 shadow" style="max-width: 18rem;">
        <div class="card-header">Cashflow annuel A.I.</div>
        <div class="card-body">
          <h3 class="card-title"><%= @real_estate.format_annual_cashflow %></h3>
        </div>
      </div>
    </div>
  </div>
</div>