body {
  background-color: #f8f9fa;
}

h1 {
  font-family: 'Open Sans', sans-serif !important;
}

.no-radius {
  border-radius: 0 !important;
}

.no-underline {
  text-decoration: none !important;
}

.jumbotron {
  background-color: white !important;
}

a:hover {
  text-decoration: none !important;
}

.navbar-brand {
  .logo {
    width: 8% !important;
  }
}