.home--jumbotron {
  text-align: center;
}

.home-header {
  border-bottom: #eee solid 1px;
}

.logo {
  width: 8%;
}

.logo-responsive {
  width:  15%;
}

.card-estates {
  img {
    height: 300px !important;
  }
  
  .jumbotron:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    transition: 0.5s;
  }
}