// Devise
.devise--form {
  width: 30%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}

.sign-in {
  margin-top: 10%;

  .sign-in-head {
    margin-bottom: 5%;
    
    img {
      width: 35%;
    }
  }

}