<% @title = "Répertorier un nouveau bien immobilier" %>
<div class="container">
  <div class="jumbotron center mt-5 shadow">
    <div class="text-center">
      <h1 class="text-primary">Répertorier un nouveau bien immobilier</h1>
      <p class="text-secondary">
        Recherchez à travers votre collection de biens immobiliers potentiels <br>
        et constatez lesquels apparaissent être les plus profitables
      </p>
    </div>
    <%= simple_form_for @real_estate, method: :post, url: real_estates_path, defaults: { label: false } do |f| %>
      <%= render 'real_estates/form', f: f, submit_message: "Ajouter ce bien" %>
    <% end %>
  </div>
</div>

<script>
  $(".is-valid").removeClass("is-valid");
</script>