// Place all the styles related to the real_estates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pro-form-padding {
  padding: 35px;
}

.pro-form-title {
  padding-left: 35px;
}

.pro-form-input {
  padding-left: 5%;
}

.hr-form-title hr {
  margin-top: -5px;
}

.hr-form-title h5 {
  margin-top: 4px;
}